body{
  background-color: #F4F7FD;
}
* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  font-family: sans-serif;
}

:root {
  --bg-py: #7000FF;
  --bg-sy: #F2f4f7;
  --bg-gold: #fdfe00;
}
.container{
  max-width: 1500px;
  margin: auto;
}
.code{
  max-width: 1350px;
  margin: auto;
  /* background-color: #c62222; */
}
li{
  list-style-type: none;
}
a{
  text-decoration: inherit;
  color: inherit;
}

@media screen and (max-width:1280px){
  .container{
   width: 100%;
   /* padding: 0 20px; */
  }
}
button{
  cursor: pointer;
  border: none;
  background: none;
}